# build directories
build*/

# Athena output files
*.tab
*.vtk
*.bin
*.athdf*
*.hst
*.rst

# Mac OS metadata
.DS_Store
.vscode

# editor temp files
*~
*.swp
Lorene

CMakeCache.txt
CMakeFiles/
tst/test_log.txt
tst/test_suite/__pycache__/
vis/python/__pycache__/